# .github/workflows/deploy.yml
name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Use a specific version like '3.10', '3.11', or '3.12'

      - name: Install MkDocs, Material for MkDocs, and PyMdown Extensions
        run: pip install mkdocs mkdocs-material pymdown-extensions

      - name: Deploy Docs to GitHub Pages
        run: mkdocs gh-deploy --force --clean
